//  ID-SK font stacks, referred to in typography.scss

// Source Sans Pro
$source-sans-pro: "Source Sans Pro", "Arial", sans-serif;

// Helvetica Regular
$helvetica-regular: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Allow font stack to be overridden
// Not all apps using toolkit use New Transport
$toolkit-font-stack: $source-sans-pro !default;
$toolkit-font-stack-tabular: $source-sans-pro !default;

// Font reset for print
$print-reset: sans-serif;

// Fallback variable names after renaming previous uppercase names to be lowercase
// @deprecated, please only use the lowercase versions
// Make an exception to the linting as these are still used a lot
// scss-lint:disable NameFormat
$NTA-Light: $source-sans-pro;
$NTA-Light-Tabular: $source-sans-pro;
$Helvetica-Regular: $helvetica-regular;
$Print-reset: $print-reset;
